<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <input type="text" id="idcliente">
    <button onclick=buscarCliente()>"Buscar Cliente"</button>
    <div id="dados"></div>
    <br><br>
    <button onclick="listarTodos()">Listar todos</button>
    <div id="lista"></div>
  </body>
</html>
